<?xml version="1.0"?>

<model>
  <name>Library_table</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Hyunkil Hwang</name>
    <email>hyunkil76@gmail.com</email>
  </author>

  <description>
    Library_table
  </description>

</model>
